<html>
    <head>
<link href="../public/stylesheets/attendance.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="attendanceContainer">
        <h1> Mark Attendance!! </h1>
        <form id="attendance">
            <label for="Date">Date: </label>
            <input type="date" id="date" placeholder="Date"/>
            <label for="TimeIn">Time In: </label>
            <input type="time" id="timeIn" placeholder="Time In"/>
            <label for="timeOut">Time Out:</label>
            <input type="time" id="timeOut" placeholder="Time Out"/>
            <Button type="submit" id="attendanceButton">Submit</Button>
        </form>
        </div>
        
  <div class="footer">
    <p> &copy; 2021 ABV-IIITM. All Rights Reserved | Design by  <a href="#"> Pragya Agrawal</a></p>
</div>
    </body>
</html>