<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../public/stylesheets/style.css">
<link rel="stylesheet" href="../public/stylesheets/chocolat.css">
<link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
</head>
<body>
    <div class="header-left">
		<a href="/Home"><img src="../public/images/logo.png" alt="" height="50px" width="50px"><span>ABV-IIITM</span> GWALIOR</a>
	</div>
	<div class="header-right">
		<span class="menu"><img src="../publicimages/menu.png" alt=""/></span>
			<nav class="cl-effect-11" id="cl-effect-11">	
				<ul class="nav1">	
					<li><a  href="/Home" data-hover="HOME">HOME</a></li>
					<li><a  href="/About" data-hover="ABOUT">ABOUT</a></li>
					<li><a  href="Gallery.html" data-hover="GALLERY">GALLERY</a></li>
					<li><a  href="/Teachers" data-hover="TEAM">TEAM</a></li>
					<li><a  href="/Services" data-hover="SERVICES">SERVICES</a></li>
					<li><a  href="/SignIn" data-hover="SIGN IN">SIGN IN</a></li>
					<li><a  href="/Contact" data-hover="CONTACT">CONTACT</a></li>							
				</ul>
			</nav>
				<!-- script for menu -->
					<script type="text/javascript"> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
				<div class="clearfix"></div>
</div>
<div id="services" class="services1">
	<div class="container">
		<h3>SERVICES</h3>
			<div class="servc-grids">
				<div class="col-md-6 servc-grid">
					<div class="servc-grid-left">
						<span class="glyphicon glyphicon-education" aria-hidden="true"></span>
					</div>
					<div class="servc-grid-right">
						<a href="/MarkAttendance" data-hover="Mark Attendance"> Mark Attendance</a>
						<!-- <p>
						Monthly Send Students Report : Home</p>
						<p>Monthly Parents Mitting</p> -->
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 servc-grid">
					<div class="servc-grid-left">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</div>
					<div class="servc-grid-right">
						<a href="/BookEquipments"> Book Equipments</a>
						<!-- <p>Monthly Minimum one festival Events</p>
						<p>Studets Events</p> -->
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 servc-grid">
					<div class="servc-grid-left">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>
					<div class="servc-grid-right">
						<a href="/PostNotice">Post Notice</a>
						<!-- <p>Grammer Test</p>
						<p>GK and IQ Test</p> -->
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 servc-grid">
					<div class="servc-grid-left">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
					</div>
					<div class="servc-grid-right">
						<a href="/BookCourt">Book Court</a>
						<!-- <p>First Ship   : 07am To 01:00pm</p>
						<p>Secound Ship : 12pm To 05:00pm</p> -->
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<footer class="footer">
    <p> &copy; 2021 ABV-IIITM. All Rights Reserved | Design by  <a href="#"> Pragya Agrawal</a></p>
</footer>
</body>