<html>
<head>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/chocolat.css">
    <link rel="stylesheet" href="../public/stylesheets/css/bootstrap.css">
</head>
<body>
    <!-- <header class="header">
        <div class="header-left">
            <a href="Home.ejs"><img src="/images/logo.png" alt="" height="50px" width="50px"><span>ABV-IIITM</span> GWALIOR</a>
        </div>
        <div class="header-right">
            <span class="menu"><img src="/images/menu.png" alt=""/></span>
                <nav class="cl-effect-11" id="cl-effect-11">	
                    <ul class="nav1">	
                        <li><a  action="/home" data-hover="HOME">HOME</a></li>
                        <li><a  href="About.html" data-hover="ABOUT">ABOUT</a></li>
                        <li><a  href="Gallery.html" data-hover="GALLERY">GALLERY</a></li>
                        <li><a  href="/teachers" data-hover="TEAM">TEAM</a></li>
                        <li><a  href="/Services" data-hover="SERVICES">SERVICES</a></li>
                        <li><a  href="/SignIn" data-hover="SIGN IN">SIGN IN</a></li>
                        <li><a  href="/Contact" data-hover="CONTACT">CONTACT</a></li>							
                    </ul>
                </nav>
                    <!-- script for menu -->
                        <!-- <script type="text/javascript"> 
                            $( "span.menu" ).click(function() {
                            $( "ul.nav1" ).slideToggle( 300, function() {
                             // Animation complete.
                            });
                            });
                        </script> -->
                    <!-- //script for menu -->
        <!-- </div> -->
    <!-- </header> --> 
    <div id="team" class="team">
        <div class="container">
            <h3 class="tittle">OUR TEAM</h3>
                <div class="main">
                    <div class="col-md-3 view-grid">
                        <div class="view fifth-effect">
                             <a href="#" title="Full Image"><img src="../public/images/tt.png" alt="" /></a>
                             <div class="mask"></div>
                             <h4>Person 1</h4>
                        </div> 
                    </div>
                    <div class="col-md-3 view-grid">
                        <div class="view fifth-effect">
                             <a href="#" title="Full Image"><img src="../public/images/tt.png" alt="" /></a>
                             <div class="mask"></div>
                             <h4>Person 2</h4>
                        </div> 
                    </div>
                    <div class="col-md-3 view-grid">
                        <div class="view fifth-effect">
                             <a href="#" title="Full Image"><img src="../public/images/tt.png" alt="" /></a>
                             <div class="mask"></div>
                             <h4>Person 3</h4>
                        </div> 
                    </div>
                    <div class="col-md-3 view-grid">
                        <div class="view fifth-effect">
                             <a href="#" title="Full Image"><img src="../public/images/tt.png" alt="" /></a>
                             <div class="mask"></div>
                             <h4>Person 4</h4>
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </div>
    <footer class="footer">
        <p> &copy; 2021 ABV-IIITM. All Rights Reserved | Design by  <a href="#"> Pragya Agrawal</a></p>
    </footer>
</body>
</html>